*{
  margin:0;
  padding: 0;
  font-family: cursive;
  font-size: 18px;
}
#elHeader{
  display: grid;
  grid-template-rows:70% 30%;
  width: 200px;
  height: 270px;
}
#miFoto{
  height: 100%;
}
#miNombre{
  font-family: fantasy;
  font-size: 120%;
  text-align: center;
}
#laSeccion{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#relleno{
  background: grey;
  border-top-left-radius: 50px;
  grid-column: 2/4;
  grid-row: 1/2;
}
#personales{
  font-family: serif;
  font-size: 1.5em;
  text-align: end;
  background: grey;
  grid-column: 1/2;
  grid-row: 2/4;
  border-bottom-right-radius: 50px;
  padding-top: 20px;
  padding-right: 40px;
}
#experiencia{
  grid-column: 2/3;
  grid-row: 2/4;
}
#formacion{
  grid-column: 3/4;
  grid-row: 2/4;
}

@media screen and (max-width: 400px){
  #elHeader{
    width: 560px;
  }
  #miFoto{
    width: 75%;
    height: 40%;
    position: absolute;
    margin-top: 280px;
    margin-left: 15px;
    border-radius: 50%;
  }
  #miNombre{
    padding-top: 40px;
    font-size: 3.5em;
    text-align: center;
  }
}
